<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  <meta name="description" content="{{ config.description }}">
  <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
  {% block rss %}
  <link rel="alternate" type="application/atom+xml" title="{{ config.title }}" href="{{ get_url(path='atom.xml', trailing_slash=false) }}">
  {% endblock rss %}
</head>
<body>
  <header>
    <div class="header-col-wrapper">
      <span class="header-col header-col-1">
        <a href="{{ get_url(path='/') }}" style="color: inherit;">{{ config.title }}</a>
      </span>
      <span class="header-col header-col-2">
        <a href="{{ get_url(path='/experience') }}" style="color: inherit;">/experience</a>
        <a href="{{ get_url(path='/projects') }}" style="color: inherit;">/projects</a>
        <a href="{{ get_url(path='/blog') }}" style="color: inherit;">/blog</a>
      </span>
    </div>
    <hr>
  </header>

  <main>
    {% block content %}{% endblock content %}
  </main>

  <footer>
    <hr class="footer-divider">
    <h2 class="footer-heading"><a href="{{ get_url(path='/') }}" style="color: inherit;">{{ config.title }}</a></h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">{{ config.author }}</li>
          <li><a class="u-email" href="mailto:{{ config.extra.email }}">{{ config.extra.email }}</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://github.com/{{ config.extra.github_username }}"><span class="username">GitHub</span></a></li>
          <li><a href="https://www.linkedin.com/in/{{ config.extra.linkedin_username }}"><span class="username">LinkedIn</span></a></li>
          <li><a href="{{ config.base_url }}/resume/resume.pdf"><span class="username">Resume</span></a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p>{{ config.description }}</p>
      </div>
    </div>
  </footer>
</body>
</html>